.classpath
.project
.settings
.gradle
.gradle/**
.idea
.idea/workspace.xml
.idea/**
*.iml
*.ipr
*.iws
.DS_Store
out/
build/**
src/querydsl
.gitkeep
.shelf
.application-local.yml
.gradle/
.idea/
build/
out/

